
.privacy .container {
  overflow: hidden;
  min-width: 768px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .privacy .container {
    height: auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    min-width: 100%;
    max-width: 100%
  }
}
