$grayBackground: #f1f1f1;

$homePadding: 250px;

:global(.img-responsive) {
  margin: 0 auto;
  width: auto;
  max-height: 100vh;
}

video {
  background-color: transparent !important;
}

.status {
  $width: 211px;
  $height: 50px;
  width: $width;
  height: $height;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.home {
  background: $grayBackground;
  padding: $homePadding 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.introMobile {
  position: absolute;
  left: 0px;
  bottom: - $homePadding;
  max-width: 50%;
  height: 702px;
  width: 490px;
}


.leftMobFront {
    position: absolute;
    left: 12%;
    margin: 0px auto;
    top:-40px;
    z-index: 2;
    background-image: url("images/left-mob-front.png");
    background-size: cover;
    height: 626px;
    width: 380px;
}
.leftMobBack {
    position: absolute;
    left:0px;
    top:-20px;
    z-index: 1;
    background-image: url("images/left-mob-back.png");
    background-size: cover;
    height: 626px;
    width: 380px;
}

.rightMobFront {
  position: absolute;
  right: 12%;
  margin: 0px auto;
  top:-40px;
  z-index: 2;
  background-image: url("images/right-mob-front.png");
  background-size: cover;
  height: 626px;
  width: 380px;
}

.rightMobBack {
  position: absolute;
  right:0px;
  top:-20px;
  z-index: 1;
  background-image: url("images/right-mob-back.png");
  background-size: cover;
  height: 626px;
  width: 380px;
}

.downloadSection {
  $size: 412px;
  text-align: center;
  background: url("images/pattern.png") repeat;
  background-size: $size $size;
}


@media only screen and (max-width : 992px) {
  .home {
    text-align: center;
  }
  .home, :global(.section) {
    padding: 100px 0px;
  }

  .introMobile {
    position: static;
    max-width: 300px;
    max-height: 429px;
  }
  .leftMobFront {
    right: 0px;
    left: auto;
    max-width: 100%;
    top: 0px;
    height: 100%;
  }
  .leftMobBack {
    left: -30px;
    max-width: 100%;
    top: 0px;
  }
  .rightMobFront{
    left: 0px;
    right: auto;
    max-width: 100%;
    top: 0px;
    height: 100%;
  }
  .rightMobBack {
    right: -30px;
    max-width: 100%;
    top: 0px;
    height: 100%;
  }
}

@media only screen and (max-width : 480px) {
  .leftMobFront, .leftMobBack,
  .rightMobFront, .rightMobBack {
    max-width: 80%;
  }

}
