$image-path: 'images' !default;
$retina-2x-suffix: '@2x';
$retina-3x-suffix: '@3x';

@mixin retina($name, $ext: 'png') {
  background-image: url(#{$image-path}/#{$name}.#{$ext});
  @media only screen and (min-resolution: 1.3dppx) {
    background-image: url(#{$image-path}/#{$name}#{$retina-2x-suffix}.#{$ext});
  }
  @media screen and (min-resolution: 3dppx) {
    background-image: url(#{$image-path}/#{$name}#{$retina-3x-suffix}.#{$ext});
  }
}
